# Dependencias principales de Django
Django==5.2.6
asgiref==3.9.1
sqlparse==0.5.3
tzdata==2025.2

# Dependencias adicionales para el proyecto
django-cors-headers==4.3.1
djangorestframework==3.14.0
django-environ==0.11.2

# Nota: MediaPipe se usa desde CDN, no requiere instalación local


mysqlclient==2.2.7
